@import "tailwindcss";

@theme {
    /* 🎨 Kolory */
    --color-orangeAccent: #C16200;
    --color-greyVariant: #E1E1E6;
    --color-alertRed: #D32027;

    /* 🔠 Rozmiary tekstu (REM + waga) */
    --text-64: 4rem;
    /* 64px */
    --text-32: 2rem;
    /* 32px */
    --text-24: 1.5rem;
    /* 24px */
    --text-18: 1.125rem;
    /* 18px */
    --text-16: 1rem;
    /* 16px */
    --text-14: 0.875rem;
    /* 14px */

    --cursor-default: url("/cursors/cursor2.svg") 0 0, auto;
    --cursor-active: url("/cursors/cursor1.svg") 0 0, auto;
}

html,
body {
  overscroll-behavior: none;
  min-height: 100%;
}

body {
  background-color: #E1E1E6;
  cursor: url("/cursors/cursor2.svg") 0 0, auto;
}


::-webkit-scrollbar {
  width: 8px;
  height: 12px;
  cursor: url("/cursors/cursor2.svg") 0 0, auto;
}

::-webkit-scrollbar-track {
  background: transparent;
  cursor: url("/cursors/cursor2.svg") 0 0, auto;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-softSync);
  border-radius: 10px;
  cursor: url("/cursors/cursor2.svg") 0 0, auto;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neroMint);
  cursor: url("/cursors/cursor1.svg") 0 0, auto;
}
