.fancy-button {
  font-family: "Exo 2", sans-serif;
  font-size: 1.2rem;
  color: #DAE8E9;
  background: linear-gradient(135deg, #3fe9c5, #ef2eb4);
  background-size: 200% 200%;
  border: none;
  border-radius: 20px;
  cursor: url("/cursors/cursor1.svg") 0 0, auto;
  animation: gradientMove 5s ease infinite;
  transition: transform 0.3s ease, animation-duration 0.3s ease;
}

.glass-button {
  font-family: "Exo 2", sans-serif;
  font-size: 1.2rem;
  background: transparent;
  border-radius: 20px;
  cursor: url("/cursors/cursor1.svg") 0 0, auto;
  transition: none;
  color: #DAE8E9;
}

.wrapper {
  position: relative;
  border-radius: 20px;
  z-index: 0;
}

.hoverScale:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 20px;
  background: linear-gradient(270deg, #ef2eb4, #3fe9c5, #ef2eb4);
  background-size: 400% 400%;
  animation: shiftGradient 15s ease infinite;
  -webkit-mask:
    linear-gradient(#DAE8E9 0 0) content-box,
    linear-gradient(#DAE8E9 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.wrapper::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 0;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shiftGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
